body {
    /* margin: 0;
    padding: 0; */
    background-image: url("https://i.pinimg.com/originals/c6/54/62/c654622919bc26d05726715da1bba6ee.jpg");
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 14px; /* Tăng kích thước phông chữ chính */
    font-family: cursive;
    color: #333; /* Màu văn bản */
    /* overflow: auto; */
}

#mainDiv {
    width: 100%;
    height: 100%;
}

#loveHeart {
    float: left;
    width: 670px;
    height: 625px;
}

#garden {
    width: 100%;
    height: 100%;
}

#elapseClock {
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666; /* Màu văn bản */
}

#words {
    font-family: "sans-serif", "sans-serif", sans-serif;
    width: 500px;
    font-size: 26px; /* Tăng kích thước phông chữ */
    color: #444; /* Màu văn bản */
}

#messages {
    display: none;
}

#elapseClock .digit {
    font-family: "digit";
    font-size: 36px;
}

#loveu {
    padding: 5px;
    font-size: 22px;
    margin-top: 80px;
    margin-right: 120px;
    text-align: right;
    display: none;
    color: #555555; /* Màu văn bản */
}

#loveu .signature {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    color: #777777; /* Màu văn bản */
}

#clickSound {
    display: none;
}

#code {
    /* float: left;
    width: 440px;
    height: 400px;
    color: #333333;
    font-family: "sans-serif", "sans-serif", sans-serif;
    font-size: 14px; Tăng kích thước phông chữ */
    float: left;
    width: 440px;
    height: 400px;
    color: #004080; /* Chỉnh màu chữ thành màu xanh trời */
    font-family: "digit";
    font-size: 20px; /* Tăng kích thước phông chữ */
    font-weight: bold;
}


#code .placeholder {
    margin-left: 15px;
}



#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0;
    color: #c00; /* Màu văn bản */
}

#errorMsg a {
    color: #c00; /* Màu văn bản */
}

#copyright {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    color: #666;
}
